<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Styles.css-->
    <link rel="stylesheet" href=".//styles/styles.css">

    <title>Cake Lovers Dating Site</title>
</head>
<body>
<div class="container">
    <form method="post" action="personalinfo">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">Cake Lovers Dating Site</span>
        </nav>
        <div class="card" >
            <div class="row">
                <div class="col-md-7">
                    <div class="card-body">
                        <h2 class="card-title text-center">Cake Lovers Dating Site</h2>
                        <p class="card-text">Welcome to the webs most successful dating website.
                            At <strong>Cake Lovers Dating Site</strong> you'll met another sweet tooth.We have the
                            highest success rate of couples on the web. Users are matched by interest
                            and location.Find out why so many have found love on our website!
                        <br>
                        <br>
                        <h4 class="text-center">Hear's what users are saying about us</h4>
                        <hr>
                        <p class="font-italic text-center">"I met the love of my life after only a month" - Andrea</p>
                        <br>
                        <p class="font-italic text-center">"It was so easy to set up and profile and start meeting people.
                        I didn't realize how many others were looking for love in my area" - John Smith</p>
                        <br>
                        <p class="font-italic text-center">"Just try it! You'll never be the same!" - Sarah</p>
                        <hr>
                    </div>
                    <!--Button-->
                    <div class="text-center">
                        <a type="submit" class="btn btn-primary btn-lg" href="personalinfo">Create a Profile!</a>
                    </div>
                </div>
                <!--Image-->
                <div class="col-md-3">
                    <img class="rounded" src=".//images/love-cake-love1.jpg" alt="image">
                </div>
            </div>
        </div>
    </form>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>