<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interests</title>
</head>
<body>
<div class="container">
    <form method="post" action="summary">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">Cake Lovers Dating Site</span>
        </nav>
        <h2 class="text-center">Interests</h2>
        <hr>
        <div class="row">
            <div class="form-group">
                <h5>In-door Interests</h5>
                <br>
                <div class="form-check form-check-inline">
                    <div class="col-lg-3">
                        <input type="checkbox" class="form-check-input" name="interests[]" value="TV" id="television">TV
                        <label class="form-check-label" for="television" >TV</label>
                        <br>
                        <input type="checkbox" class="form-check-input" name="interests[]" value="Puzzles" id="puzzles">
                        <label class="form-check-label" for="puzzles" >Puzzles</label>
                        <br>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="col-lg-3">
                            <input type="checkbox" class="form-check-inline" id="movies" name="interests[]" value="Movies">
                            <label class="form-check-label" for="movies" >Movies</label>
                            <br>
                            <input type="checkbox" class="form-check-input" id="reading" name="interests[]" value="Reading">
                            <label class="form-check-label" for="reading" >Reading</label>
                            <br>
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="col-lg-3">
                            <input type="checkbox" class="form-check-input" id="cooking" name="interests[]" value="Cooking">
                            <label class="form-check-label" for="cooking" >Cooking</label>
                            <br>
                            <input type="checkbox" class="form-check-input" id="cards" name="interests[]" value="Playing Cards">
                            <label class="form-check-label" for="cards" >Playing Cards</label>
                            <br>
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="col-lg-3">
                            <input type="checkbox" class="form-check-input" id="board" name="interests[]" value="Board games">
                            <label class="form-check-label" for="board" >Board Games</label>
                            <br>
                            <input type="checkbox" class="form-check-input" id="video" name="interests[]" value="Video games">
                            <label class="form-check-label" for="video" >Video Games</label>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="form-group">
                <h5>Out-door Interests</h5>
                <br>
                <div class="form-check form-check-inline">
                    <div class="col-lg-3">
                        <input type="checkbox" class="form-check-input" id="hiking" name="interests[]" value="Hiking">
                        <label class="form-check-label" for="hiking" >Hiking</label>
                        <br>
                        <input type="checkbox" class="form-check-input" id="walking" name="interests[]" value="Walking">
                        <label class="form-check-label" for="walking" >Walking</label>
                        <br>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <div class="col-lg-3">
                        <input type="checkbox" class="form-check-input" id="biking" name="interests[]" value="Biking">
                        <label class="form-check-label" for="biking" >Biking</label>
                        <br>
                        <input type="checkbox" class="form-check-input" id="climbing" name="interests[]" value="Climbing">
                        <label class="form-check-label" for="climbing" >Climbing</label>
                        <br>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <div class="col-lg-3">
                        <input type="checkbox" class="form-check-input" id="swimming" name="interests[]" value="Swimming">
                        <label class="form-check-label" for="swimming" >Swimming</label>
                        <br>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <div class="col-lg-3">
                        <input type="checkbox" class="form-check-input" id="collecting" name="interests[]" value="Collecting stones">
                        <label class="form-check-label" for="collecting" >Collecting Stones</label>
                        <br>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</body>
</html>