<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Styles.css-->
    <link rel="stylesheet" href=".//styles/styles.css">


    <title>Cake Lovers Dating Site</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">Cake Lovers Dating Site</span>
    </nav>

    <h1 class="ml-3 mt-4 mb-0">Interests</h1>
    <hr class="mt-0">
    <div class="ml-3">
        <form action="#" method="post">
            <label class="font-weight-bold mt-2"> In-door Interests</label>
            <div class="row">
                <p>Select Indoor Interests<br>
                    <repeat group="{{ @in-interests }}" value="{{ @indoorOption }}">
                        <label><input type="checkbox"
                                      name="in-interests[]"
                                      value="{{ @indoorOption }}"
                            <check if="{{ isset(@selectedIndoors) && in_array(@indoorOption, @selectedIndoors) }}">
                                check="checked"
                            </check>

                            >{{ @indoorOption }}
                        </label><br>
                    </repeat>
                </p>
                <!--<div class="col-lg-3">
                    <input type="checkbox" class="form-check-inline" name="in-interests[]" value="TV">TV<br>
                    <input type="checkbox" class="form-check-inline" name="in-interests[]" value="Puzzles">Puzzles
                </div>
                <div class="col-lg-3">
                    <input type="checkbox" class="form-check-inline" name="in-interests[]" value="Movies">Movies<br>
                    <input type="checkbox" class="form-check-inline" name="in-interests[]" value="Rea ding">Reading
                </div>
                <div class="col-lg-3">
                    <input type="checkbox" class="form-check-inline" name="in-interests[]" value="Cooking">Cooking <br>
                    <input type="checkbox" class="form-check-inline" name="in-interests[]" value="Playing Cards">Playing
                    Cards
                </div>
                <div class="col-lg-3">
                    <input type="checkbox" class="form-check-inline" name="in-interests[]" value="Board games">Board
                    games<br>
                    <input type="checkbox" class="form-check-inline" name="in-interests[]" value="Video games">Video
                    games
                </div>-->
            </div>
            <!--row closed -->
            <label class="font-weight-bold mt-2"> Out-door Interests</label>
            <div class="row">
                <p>Select Condiments<br>
                    <repeat group="{{ @out-interests }}" value="{{ @outdoorOption }}">
                        <label><input type="checkbox"
                                      name="out-interests[]"
                                      value="{{ @outdoorOption }}"
                            <check if="{{ isset(@selectedOutdoors) && in_array(@outdoorOption, @selectedOutdoors) }}">
                                check="checked"
                            </check>

                            >{{ @outdoorOption }}
                        </label><br>
                    </repeat>
                </p>
                <!--<div class="col-lg-3">
                    <input type="checkbox" class="form-check-inline" name="out-interests[]" value="Hiking">Hiking<br>
                    <input type="checkbox" class="form-check-inline" name="out-interests[]" value="Walking">Walking
                </div>
                <div class="col-lg-3">
                    <input type="checkbox" class="form-check-inline" name="out-interests[]" value="Biking">Biking<br>
                    <input type="checkbox" class="form-check-inline" name="out-interests[]" value="Climbing">Climbing
                </div>
                <div class="col-lg-3">
                    <input type="checkbox" class="form-check-inline" name="out-interests[]" value="Swimming">Swimming <br>
                </div>
                <div class="col-lg-3">
                    <input type="checkbox" class="form-check-inline" name="out-interests[]" value="Collecting stones">
                    Collecting Stones<br>
                </div>-->
            </div>
            <!--row closed -->
            <div class="btn float-lg-right">
                <button type="submit" class="btn btn-primary mb-4">Next>></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>