<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Styles.css-->
    <link rel="stylesheet" href=".//styles/styles.css">


    <title>Cake Lovers Dating Site</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">Cake Lovers Dating Site</span>
        <a href="member.html">Admin</a>
    </nav>

    <h1 class="ml-3 mt-4 mb-0">Interests</h1>
    <hr class="mt-0">
    <div class="ml-3">
        <form action="#" method="post">
            <label class="font-weight-bold mt-2"> In-door Interests</label>
            <div class="row">
                <br>
                    <repeat group="{{ @indoors }}" value="{{ @indoorOption }}">
                        <div class="col-lg-3">
                        <label><input type="checkbox"
                                      name="indoors[]"
                                      value="{{ @indoorOption }}"
                            <check if="{{ isset(@inInterests) && in_array(@indoorOption, @inInterests) }}">
                                checked="checked"
                            </check>

                            >{{ @indoorOption }}
                        </label><br>
                        </div>
                    </repeat>
            </div>
            <check if="{{ @errors['indoors'] }}">
                <span class="err">{{ @errors['indoor'] }}</span>
            </check><br><br>
            <!--row closed -->
            <label class="font-weight-bold mt-2"> Out-door Interests</label>
            <div class="row">
                <br>
                    <repeat group="{{ @outdoors }}" value="{{ @outdoorOption }}">
                        <div class="col-lg-3">
                        <label><input type="checkbox"
                                      name="outdoors[]"
                                      value="{{ @outdoorOption }}"
                            <check if="{{ isset(@outInterests) && in_array(@outdoorOption, @outInterests) }}">
                                checked="checked"
                            </check>

                            >{{ @outdoorOption }}
                        </label><br>
                        </div>
                    </repeat>
            </div>
            <check if="{{ @errors['outdoors'] }}">
                <span class="err">{{ @errors['outdoors'] }}</span>
            </check><br><br>
            <!--row closed -->
            <div class="btn float-lg-right">
                <button type="submit" class="btn btn-primary mb-4">Next>></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>