<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Personal Information</title>
</head>
<body>
<form method="post" action="profile">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">Cake Lovers Dating Site</span>
    </nav>
    <div class="card" >
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
                <div>
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="famale">
                    <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="card">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" id="phoneNumber">
                </div>
                <div>
                    <button type="submit">Next>></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>