<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <form method="post" action="interests">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">Cake Lovers Dating Site</span>
        </nav>
        <div class="card" >
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row-cols-lg-10">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="my_email@gmail.com">
                        </div>
                        <div>

                        </div>
                        <div>
                            <label for="state" id="state">State</label>
                            <select name="state">
                                <option value="Washington">Washington</option>
                                <option value="Oregon">Oregon</option>
                                <option value="California">California</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="seeking" id="seeking">Seeking</label>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="famale">
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                        </div>
                        <div>
                            <button type="submit">Next>></button>
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>