<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Styles.css-->
    <link rel="stylesheet" href=".//styles/styles.css">

    <title>Profile</title>
</head>
<body>
<div class="container">
    <form method="post" action="#">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">Cake Lovers Dating Site</span>
        </nav>
        <h2 class="card-title text-center">Profile</h2>
        <hr>
        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label for="email">Email</label>
                    <br>
                    <input type="email" class="form-control" id="email" placeholder="my_email@gmail.com" name="email" value="{{ @email }}">
                    <check if="{{ @errors['email'] }}">
                        <span class="err">{{ @errors['email'] }}</span>
                    </check><br><br>
                </div>
                <br>
                <div class="form-group">
                    <label for="state" id="state">State</label>
                    <br>
                    <select name="state">
                        <repeat group="{{ @states }}" value="{{ @stateOption}}">
                        <option value="{{ @stateOption}}"
                        <check if="{{@state == @stateOption }}">
                            selected="selected"</check>
                        >{{ @stateOption}}
                            </option>
                        </repeat>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label class="font-weight-bold" id="seeking">Seeking</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <repeat group="{{ @gender }}" value="{{ @seekingOption }}">
                            <label><input class="form-check-input" type="radio" name="gender" value="{{ @seekingOption }}"
                                <check if="{{ @seeking == @seekingOption }}">
                                    checked="checked"
                                </check>
                            >{{ @seekingOption }}
                            </label><br>
                        </repeat>
                    </div>
                </div>
                 <br>
                <div class="form-group">
                    <button class="btn-primary" type="submit">Next>></button>
                    <br>
                </div>
            </div>
            <div class="column">
                <textarea class="form-control" id="notice" name="notice" rows="5"></textarea>
                <label for="notice">Biography</label>


            </div>
        </div>
    </form>
</div>
</body>
</html>