<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Styles.css-->
    <link rel="stylesheet" href=".//styles/styles.css">
    <title>Summary</title>
</head>
<body>
<div class="container">

        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">Cake Lovers Dating Site</span>
        </nav>
        <h2 class="card-title text-center">Summary</h2>
        <hr>
        <div class="row">
            <div class="column">
                <h5>Your date information </h5>
                <table>
                    <tbody>
                        <tr>
                            <td>Name: {{ (@SESSION['Member']->getFname()) }} {{ (@SESSION['Member']->getLname()) }}</td>
                        </tr>
                        <tr>
                            <td>Age: {{ (@SESSION['Member']->getAge()) }} </td>
                        </tr>
                        <tr>
                            <td>Gender: {{ (@SESSION['Member']->getGender()) }}</td>
                        </tr>
                        <tr>
                            <td>Phone Number: {{ (@SESSION['Member']->getPhone()) }}</td>
                        </tr>
                        <tr>
                            <td>Email: {{ (@SESSION['Member']->getEmail()) }}</td>
                        </tr>
                        <tr>
                            <td>State: {{ (@SESSION['Member']->getState()) }}</td>
                        </tr>
                        <tr>
                            <td>Seeking: {{ (@SESSION['Member']->getSeeking()) }}</td>
                        </tr>
                    <tr>
                        <check if="{{ @SESSION['Member'] instanceof PremiumMember}}" >
                            <true>
                                <td>Interests: {{ implode(", ",@SESSION['Member']->getInDoorInterests()) }}</td>
                                <td>Interests: {{ implode(", ", @SESSION['Member']->getOutDoorInterests()) }}</td>
                            </true>
                        </check>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="column">
                <img class="rounded" src=".//images/pic.png" alt="image">
                <br>
                <p>Biography: {{ @SESSION['Member']->getBio() }}</p>
            </div>
        </div>

</div>
</body>
</html>